<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="main" style="width: 100vw; height: 100vh"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      const data = '{{ data }}';

      const { params, summaries } = data;

      const sizeValue = '57%';
      const symbolSize = 2.5;

      const option = {
        title: {
          left: 'center',
          text: `在 ${params.start.slice(5, 10)} 至 ${params.end.slice(5, 10)} 期间 ${params.duration}的收益
           建仓价格 ${parseFloat(params.startPrice)}, 平仓价格 ${parseFloat(params.closePrice)} (本金 ${parseFloat(
            params.principal
          )}, 预期最低价格 ${parseFloat(params.floorPrice)})`,
          textStyle: {
            fontSize: 16
          }
        },
        legend: {
          top: 'bottom'
        },
        tooltip: {
          trigger: 'axis'
        },
        toolbox: {
          left: 'left',
          feature: {
            dataZoom: {}
          }
        },
        grid: [
          { top: '10%', bottom: '57%' },
          { top: '57%', bottom: '10%' }
        ],
        xAxis: [
          {
            type: 'category',
            gridIndex: 0,
            name: '间隔',
            data: summaries.map(item => item.interval)
          },
          {
            type: 'category',
            gridIndex: 1,
            name: '间隔',
            data: summaries.map(item => item.interval)
          }
        ],
        yAxis: [
          { type: 'value', gridIndex: 0, name: '收益(元)' },
          { type: 'value', gridIndex: 0, name: '风险率', splitLine: { show: false }, axisLabel: { show: false } },
          { type: 'value', gridIndex: 1, name: '平均收益(元/天)' }
        ],
        series: [
          // 第一个图（收益合集）
          {
            name: '总收益',
            symbol: 'circle',
            type: 'line',
            color: '#84cc16',
            xAxisIndex: 0,
            yAxisIndex: 0,
            emphasis: {
              focus: 'series'
            },
            data: data.summaries.map(item => parseFloat(item.summary.totalProfit)),
            markPoint: {
              data: [
                {
                  type: 'max',
                  name: 'Max',
                  label: {
                    fontSize: 10,
                    color: 'white',
                    fontWeight: 600,
                    formatter(params) {
                      return `${Math.floor(params.value)}`;
                    }
                  }
                },
                {
                  type: 'min',
                  name: 'Min',
                  label: {
                    fontSize: 10,
                    color: 'white',
                    fontWeight: 600,
                    formatter(params) {
                      return `${Math.floor(params.value)}`;
                    }
                  }
                }
              ]
            }
          },
          {
            name: '已完成订单收益',
            symbol: 'circle',
            type: 'line',
            color: '#22d3ee',
            xAxisIndex: 0,
            yAxisIndex: 0,
            emphasis: {
              focus: 'series'
            },
            data: data.summaries.map(item => parseFloat(item.summary.completedProfit))
          },
          {
            name: '未完成订单收益',
            symbol: 'circle',
            type: 'line',
            color: '#f43f5e',
            xAxisIndex: 0,
            yAxisIndex: 0,
            emphasis: {
              focus: 'series'
            },
            data: data.summaries.map(item => parseFloat(item.summary.uncompletedProfit))
          },
          // 第一个图（风险率）
          {
            name: '风险率',
            symbol: 'circle',
            type: 'line',
            xAxisIndex: 0,
            yAxisIndex: 1,
            color: '#f97316',
            data: summaries.map(item => parseFloat(item.summary.riskRate)),
            markLine: {
              data: [
                { name: 'Safe', yAxis: 2, lineStyle: { color: '#10b981' } },
                { name: 'Normal', yAxis: 1.5, lineStyle: { color: '#0ea5e9' } },
                { name: 'Danger', yAxis: 1.3, lineStyle: { color: '#f97316' } },
                { name: 'Boom', yAxis: 1.1, lineStyle: { color: '#ef4444' } }
              ]
            }
          },
          // 第二个图（平均收益）
          {
            name: '平均收益',
            symbol: 'circle',
            type: 'line',
            xAxisIndex: 1,
            yAxisIndex: 2,
            color: '#818cf8',
            data: summaries.map(item => parseFloat(item.summary.averageProfit)),
            markPoint: {
              data: [
                {
                  type: 'max',
                  name: 'Max',
                  label: {
                    fontSize: 10,
                    color: 'white',
                    fontWeight: 600,
                    formatter(params) {
                      return `${Number(params.value).toFixed(1)}`;
                    }
                  }
                },
                {
                  type: 'min',
                  name: 'Min',
                  label: {
                    fontSize: 10,
                    color: 'white',
                    fontWeight: 600,
                    formatter(params) {
                      return `${Number(params.value).toFixed(1)}`;
                    }
                  }
                }
              ]
            },
            markLine: {
              data: [
                { name: 'LowTarget', yAxis: 100, lineStyle: { color: '#64748B' } },
                { name: 'LowTarget', yAxis: 150, lineStyle: { color: '#0ea5e9' } },
                { name: 'Target', yAxis: 200, lineStyle: { color: '#10b981' } },
                { name: 'ExTarget', yAxis: 300, lineStyle: { color: '#ec4899' } },
                { name: 'SupperTarget', yAxis: 400, lineStyle: { color: '#6366f1' } }
              ]
            }
          }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  </body>
</html>
